<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fatec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="10">



  <ion-segment value = "ads" [scrollable]="true" (ionChange)="trocaCurso($event)">
    <ion-segment-button value = "ads">
      <ion-label>analise e desenvolvimento de sistemas</ion-label>
    </ion-segment-button>    

    <ion-segment-button value = "adm">
      <ion-label>administração</ion-label>
    </ion-segment-button>    

    <ion-segment-button value = "gti">
      <ion-label>gestão de tecnologia da informação</ion-label>
    </ion-segment-button>    
  </ion-segment>
</ion-header>
    </ion-col>
  </ion-row>